/* General */
html {
    margin: 0px;
    padding: 0px;
    heigth: 100%
}

body {
    background: #eee;
    margin: 0px;
    height: 100%;
}

.content {
width: 95%;
    height: 600px;
    box-shadow: grey 0 0px 3px 0px;
    margin: 20px auto auto auto;
    border-radius: 5px;
    background: white;
}

/* Nav Bar */
nav {
    background: white;
    width: 100%;
    height: 50px;
    padding: 13px 10px 13px 10px;
    box-sizing: border-box;
}

nav ul {

}

nav ul li {
    list-style: none;
    display: inline-block;
}

.logoName {
    color: darkgray;
    font-size: 15px;
}

/* Card */
.card {
    margin: 10px;
}

/* Filters */
.filters {
    display: inline-block;
    padding: 20px;
    width: 40%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}
.jobAge .rc-slider-mark-text {
    font-size: 8px;
}

.filterHeading {
    font-size: 20px;
    font-family: 'Roboto';
    color: grey;
}

.filterHeading i {
    vertical-align: middle;
    padding-right: 10px;
}

.filterLabels {
    font-size: 14px;
    font-family: 'Roboto';
    color: grey;
    padding: 10px 0px;
}

label {
    color: grey;
    font-size:12px;
}

.filterButton {
    float:right;
}

/* map */
#map {
    display: inline-block;
    width: 60%;
    height: 600px;
    margin: auto;
}

/* Job Display */

.jobDisplay {
    position: absolute;
    height: 400px;
    width: 600px;
    transform: scale(0);
    transform-origin: center;
    transition: .3s all ease-out;
    background: #eeeeeed1;
    top: calc( 50% - 150px );
    z-index: 100;
    border-radius: 5px;
    padding: 20px;
    left: calc( 50% - 300px );
    box-shadow: grey 0 0 3px;
    overflow-y: scroll;
}

.jobDisplay h1 {
    color: grey;
    font-size: 14px;
    clear: both;
    float: left;
}

.jobDisplay .close {
float: right;
    color: grey;
    font-size: 17px;
    cursor: pointer;
}

.jobDisplay .jobList {
    clear:both;
}

.jobDisplay .jobList li {
    margin-bottom: 1rem;
    background: white;
    list-style: none;
    padding: 10px;
    border-radius: 6px;
}
.jobDisplay .jobList li .jobTitle{
    font-size: 16px;
    color: darkgray;
}

.jobDisplay .jobList li .label{
    font-size: 14px;
    color: darkgray;
}

.jobDisplay .jobList li p{
    font-size: 12px;
    color: darkgray;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}